.newlook{
	background-color: #89cff0;
	color: white;
	font-family: Lucida Sans;
	text-align: center;
	width: 100%;
	height: 400px;
}
.quote{
	background-color: #ffb6c1;
	color: white;
	width: 100%;
	height: 200px;
	font-family: Lucida Sans;
	text-align: center;
}